<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>商品界面</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
        <!--flex弹性盒子模型，justify-content：主抽 -->
        <div style="display: flex;justify-content: center;margin-top: 150px">
          <el-card style="width: 700px">
            <div slot="header" class="clearfix">
              <span>秒杀系统1.0</span>
            </div>
            <table style="width:600px">
              <tr>
                <div style="width: 500px; height: 450px; margin: 0 auto;">
                    <img src="/imgs/item.jpg"  alt="图片"  style="margin: 0 auto;" />
                </div>
              </tr>
              <tr>
                <div style="width: 500px;margin: 0 auto;">
                    {{name}}，秒杀价仅需<span style="color:red; font-size:50px">{{price}}</span>元！
                    <span style="font-size:10px">（库存{{volumn}}件）</span><br>
                </div>
              </tr>
              <tr>
                请选择件数（每人限购{{maxbuy}}件）
                <el-select v-model="buynum" placeholder="请选择"  :disabled=cantbuy>
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.value"
                    :value="item.value">
                  </el-option>
                </el-select>
              </tr>
              <tr>
                <el-button style="width: 150px" type="primary" @click="Buy" :disabled=cantbuy>{{message}}</el-button>
              </tr>
              <tr>
                <!-- 占两行-->
                <td colspan="2">
                  <a href="main.html"><el-button style="width: 150px" type="primary">返回主页</el-button></a>
                  <el-button style="width: 150px" type="primary" @click="Quit">退出</el-button>
                </td>
              </tr>
            </table>
          </el-card>
        </div>
      </div>


<script>
const app = new Vue({
  el: '#app',
  data: {
    id:'',
    name:'',
    price:'',
    volumn:'',
    maxbuy:'',
    options:[],
    buynum:'',
    message:'抢购',
    cantbuy:false,
  },
  methods:{
    min(x,y){
      if (Number(x)<Number(y)) return x; 
      else
        return y;
    },
    getgoodinfo(){
      axios.get('./getgoodinfo.php')
      .then(res=>{
        console.log(res.data);
        this.tableData=res.data;
        this.id=res.data[0];
        this.name=res.data[1];
        this.price=res.data[2];
        this.volumn=res.data[3];
        this.maxbuy=res.data[4];
        if (this.volumn==0){
          this.cantbuy=true;
          this.message='商品已经无货';
        }
        for (i=0;i<this.min(this.maxbuy,this.volumn);i++){
          this.options[i]={value:i+1};
        }
      }).catch((e) => {
        console.log('获取数据失败');
      });
    },
    Buy(){
      goodid=1;
      console.log(this.buynum);
      username=localStorage.getItem('username');
      axios.get('./buying.php',
      {params: {username:username,goodid:goodid,buynum:this.buynum}})
      .then(res => {
        console.log('数据是:', res.data);
        if (res.data.result=='SUCCESS'){
          window.location.href='notifying/buysuccess.php'
        } else if (res.data.result=='FAIL'){
          this.$notify({
            title: '提示',
            message: res.data.reason,
            duration: 3000
          });
        } else{
          this.$notify({
            title: '提示',
            message: "系统出现故障，请联系管理员或稍后重试！",
            duration: 3000
          });
        }
      })
      .catch((e) => {
        console.log('获取数据失败');
      });
    },
    checktoken(){
      token=localStorage.getItem('token')
      var params = new URLSearchParams();
      params.append('token', token);
      if (token!=null){
        axios.post('./checktoken.php',params)
          .then(res=>{
            //console.log(res.data);
            if (res.data.result=="FAIL"){
                window.location.href='notifying/notlogin.php';
            }
            //window.location.href='selectroom.html'
          }).catch((e) => {
            console.log('获取数据失败');
          });
      } else{
        window.location.href='notifying/notlogin.php';
      }
    },
    Quit(){//一点击登录按钮，这个方法就会执行
        localStorage.removeItem('token');
        localStorage.removeItem('username');
        window.location.href='notifying/success.php?url=../index.html';
    },
  }
})
app.checktoken();
app.getgoodinfo();
</script>
</body>
</html>