
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin1.1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/temp/X-admin/css/font.css">
	<link rel="stylesheet" href="/temp/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="/temp/X-admin/css/mycss.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/temp/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/temp/X-admin/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    {include file="public1/upmenu"/}
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            {__CONTENT__}
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>

        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved. 本后台系统由X前端框架提供前端技术支持</div>  
    </div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
	<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="/temp/X-admin/images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
    </div>
    <!-- 背景切换结束 -->
</body>
</html>